* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
    background-color: black;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

header p {
    font-size: 20px;
}

a.linkedin {
    text-decoration: none;
    color: white;
}

/* Container for flexboxes */
section {
    display: -webkit-flex;
    display: flex;
}

/* Style the navigation menu */
nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    padding: 20px;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: hotpink;
}

/*skills */
.container {
    width: 100%;
    background-color: #ddd;
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.html {
    width: 90%;
    background-color: #04AA6D;
}

.css {
    width: 80%;
    background-color: #2196F3;
}

.js {
    width: 65%;
    background-color: #f44336;
}

.php {
    width: 60%;
    background-color: #808080;
}

/* Style the content */
article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 10px;
}

.column {
    float: left;
    width: 33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    text-align: center;
}

div h5 {
    text-align: left;
}

div.date1 {
    text-align: right;
}



/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {

    section {
        -webkit-flex-direction: column;
        flex-direction: column;

    }
}

@media only screen and (max-width: 960px) {
    section {
        display: flex;
        flex-direction: column-reverse;
    }
}